{% load static %}
<header>
    <nav class='navbar navbar-light' style='background-color: lightskyblue'>
      <div class='container'>
        <a class='navbar-brand' href='{% url 'posts:index' %}'>
          <img src='{% static 'img/logo.png' %}' width='30' height='30' class='d-inline-block align-top' alt=''>
          <span style='color:red'>Ya</span>tube
        </a>
        <ul class='nav nav-pills'>
          {% if user.is_authenticated %}
          <li class='nav-item'> 
            <a class='nav-link' href='{% url 'about:author' %}'>Об авторе</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='{% url 'about:tech' %}'>Технологии</a>
          </li>
            {% if posts.author.get_full_name == user.get_full_name %}
              <li class='nav-item'> 
                <a class='nav-link' href='{% url 'posts:post_edit' posts.id %}'>Редактировать пост</a>
              </li>
            {% else %}
              <li class='nav-item'> 
                <a class='nav-link' href='{% url 'posts:create_post' %}'>Новая запись</a>
              </li>
            {% endif %}

          <li class='nav-item'> 
            <a class='nav-link link-light' href='{% url 'users:password_change_form' %}'>Изменить пароль</a>
          </li>
          <li class='nav-item'> 
            <a class='nav-link link-light' href='{% url 'users:logout'%}'>Выйти</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link link-light'>Пользователь: {{ user.username }}</a>
          </li>
          {% else %}
          <li class='nav-item'> 
            <a class='nav-link link-light' href='{% url 'users:login'%}'>Войти</a>
          </li>
          <li class='nav-item'> 
            <a class='nav-link link-light' href='{% url 'users:signup'%}'>Регистрация</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>      
  </header> 