{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title%}
<title>профайл пользователя {{  author.username }}</title>
{% endblock%}
{%block content%}
    <div class='container py-5'>
        <h1>Все посты пользователя {{ author.get_username }} </h1>
        <h3>Всего постов:  {{posts.count}} </h3>
        {% if following %}
            <a
                class='btn btn-lg btn-light'
                href='{% url 'posts:profile_unfollow' author.username %}' role='button'
                >
                Отписаться
            </a>
        {% else %}
            <a
                class='btn btn-lg btn-primary'
                href='{% url 'posts:profile_follow' author.username %}' role='button'
                >
                Подписаться
            </a>
        {% endif %}
        <article>
        {% for posts in page_obj %}
          <ul>
            <li>
              Автор: {{  posts.author.get_username }}
            </li>
            <li>
              Дата публикации: {{ posts.pub_date|date:'d E Y' }}   
            </li>
          </ul>
          {% thumbnail posts.image '960x640' crop='center' upscale=True as im %}
            <img class='card-img my-2' src='{{ im.url }}'>
          {% endthumbnail %}
          <p>{{posts.text}}
          </p>
          <a href='{% url 'posts:post_detail' posts.pk %}'>подробная информация </a>
        </article>       
        {% if not forloop.last %}
          <hr>
        {% endif %}
      {% endfor %}
    </div>
{% include 'posts/includes/paginator.html' %}
{% endblock %}
